@model FuncionarioEventoVM
@{
	ViewData["Title"] = "Cafezinho";
}

<div class="containerCafe">
	<div class="header">
		<h1>@Model.Titulo</h1>
	</div>
	<div class="d-flex align-items-center justify-content-center font-def mt-5 gap-5">
		<div class="img">
			<img src="~/img/Café_com_a_Superintendente.png"/>
		</div>
		
		<div class="d-flex flex-column align-items-stretch">
			<div>
				<p class="fs-5 max-wid-100 text-center">@Model.Descricao</p>

				<p class="fs-5 text-center">
					Olá, <strong>@Model.Nome</strong><br />
					Você está confirmado(a) no <strong>Café com a Superintendente!</strong><br /><br />
					Data: <strong>@Model.Data</strong><br />
					Horário: <strong>@Model.Horario</strong><br />

					Protocolo: <strong>@Model.Protocolo</strong><br />
				</p>
			</div>
		</div>

	</div>
		<p class="mx-auto fit-content fs-5 mt-5">*Caso não possa comparecer na data, por favor informar a equipe da comunicação em até 48h antes do evento.</p>	
</div>